<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ipnx.ipnxmobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.wifi" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ForgotPasswordConfirmActivity"></activity>
        <activity android:name=".ForgotPasswordActivity" />
        <activity
            android:name=".TransactionHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TopUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FAQActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ServicesMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wifianalyzer.WifiAnalyzerActivity"
            android:label="@string/title_activity_wifi_analyzer"
            android:screenOrientation="portrait"
            android:theme="@style/WifiAnalyzerTheme" />
        <activity
            android:name=".RenewPaymentActivity"
            android:label="@string/title_activity_renew_payment"
            android:launchMode="singleTop"
            android:parentActivityName=".ManageServiceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ipnx.ipnxmobile.ManageServiceActivity" />
        </activity>
        <activity
            android:name=".SubscriptionSettingsActivity"
            android:label="@string/title_activity_manage_settings"
            android:parentActivityName=".ManageServiceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ipnx.ipnxmobile.ManageServiceActivity" />
        </activity>
        <activity
            android:name=".DataUsageActivity"
            android:label="@string/title_activity_data_usage"
            android:parentActivityName=".ManageServiceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ipnx.ipnxmobile.ManageServiceActivity" />
        </activity>
        <activity
            android:name=".ManageServiceActivity"
            android:label="@string/title_activity_service_plan"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.ipnx.ipnxmobile.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>