<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ipnx.ipnxmobile">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-feature android:name="android.hardware.wifi" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".wifianalyzer.WifiAnalyzerActivity"
            android:label="@string/title_activity_wifi_analyzer"
            android:theme="@style/WifiAnalyzerTheme"></activity>
        <activity
            android:name=".RenewPaymentActivity"
            android:label="@string/title_activity_renew_payment"
            android:parentActivityName=".ManageServiceActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ipnx.ipnxmobile.ManageServiceActivity" />
        </activity>
        <activity
            android:name=".ManageSettingsActivity"
            android:label="@string/title_activity_manage_settings"
            android:parentActivityName=".ManageServiceActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ipnx.ipnxmobile.ManageServiceActivity" />
        </activity>
        <activity
            android:name=".DataUsageActivity"
            android:label="@string/title_activity_data_usage"
            android:parentActivityName=".ManageServiceActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ipnx.ipnxmobile.ManageServiceActivity" />
        </activity>
        <activity
            android:name=".ManageServiceActivity"
            android:label="@string/title_activity_service_plan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>