<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ipnx.ipnxmobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.wifi" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".CarouselActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChangeServicePlanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PushNotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChangeWifiPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewCDRActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgotPasswordConfirmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TransactionHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TopUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FAQActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ServicesMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wifianalyzer.WifiAnalyzerActivity"
            android:label="@string/title_activity_wifi_analyzer"
            android:screenOrientation="portrait"
            android:theme="@style/WifiAnalyzerTheme" />
        <activity
            android:name=".RenewPaymentActivity"
            android:label="@string/title_activity_renew_payment"
            android:launchMode="singleTop"
            android:parentActivityName=".ManageDataServiceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ipnx.ipnxmobile.ManageDataServiceActivity" />
        </activity>
        <activity
            android:name=".AddCashActivity"
            android:label="Add Funds"
            android:launchMode="singleTop"
            android:parentActivityName=".ManageDataServiceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ipnx.ipnxmobile.ManageDataServiceActivity" />
        </activity>
        <activity
            android:name=".ManageSettingsActivity"
            android:label="@string/title_activity_manage_settings"
            android:parentActivityName=".ManageDataServiceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ipnx.ipnxmobile.ManageDataServiceActivity" />
        </activity>
        <activity
            android:name=".DataUsageActivity"
            android:label="@string/title_activity_data_usage"
            android:parentActivityName=".ManageDataServiceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ipnx.ipnxmobile.ManageDataServiceActivity" />
        </activity>
        <activity
            android:name=".ManageDataServiceActivity"
            android:label="@string/title_activity_service_plan"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ManageVoiceServiceActivity"
            android:label="@string/title_activity_service_plan"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.ipnx.ipnxmobile.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>